/*
!CSS RULES

This defines the syntax rules for CSS throughout MP Software

<widget-style> {
    <style-attr>;
^^^^            ^
4 space indent, always end with semicolon
}

*/

QMainWindow {
    background-color: #1c1c1c;
    color: white;
}

QWidget {
    background-color: #1c1c1c;
    padding: 0px;
    font-family: "Segoe UI";
    color: white;
}

QMenu {
    padding: 3px;
    background-color: #181818;
    border: 1px solid #181818;
    border-radius: 15px;
}

QMenu::item {
    border: 2px solid transparent;
    border-radius: 5px;
    min-width: 180px;
    padding: 5px 10px 5px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: transparent;
    color: #d3d3d3;
}

QMenu::item:hover {
    background-color: #3f3f3f;
    color: #c2c2c2;
}

QMenu::item:selected {
    background-color: #3f3f3f;
    color: white;
}

QMenu::item:disabled {
    color: #7e7e7e;
}

QMenu QWidget {
    background-color: transparent;
}

QMenu::icon {
    padding: 1px;
    margin-right: 10px;
}

QMenu::indicator {
    padding-left: 5px;
    image: url("");
}

QMenu::indicator:checked {
    image: url("");
}

QMenu:separator {
    background: #2f2f2f;
    padding-left: 10px;
    padding-right: 10px;
    height: 1px;
}

QToolButton {
    background-color: #343434;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    margin: 2px;
}

QToolButton:hover {
    background: #404040;
    border-radius: 5px;
}

QToolButton:checked {
    background-color: #4772b3;
    border-radius: 5px;
}

QLabel {
    color: #c2c2c2;
    background-color: transparent;
    font-family: "Segoe UI";
}

QLineEdit {
    background-color: #545454;
    selection-background-color: #4772b3;
    font-size: 13px;
    color: #dfdfdf;
    border: none;
    border-radius: 3px;
    height: 22px;
}

QLineEdit:hover {
    color: white;
    background-color: #797979;
}

QLineEdit:focus {
    color: white;
    background-color: #333333;
}

QPlainTextEdit,
QTextEdit {
    background-color: #181818;
    selection-background-color: #4772b3;
    border-radius: 5px;
}

QComboBox {
    color: #c2c2c2;
    background-color: #303030;
    border: 2px solid #383838;
    border-radius: 5px;
    padding: 2px 25px 2px 8px;
    min-width: 75px;
    height: 20px;
    font-size: 13px;
}

QComboBox:hover {
    color: white;
}

QComboBox:on {
    background-color: #505050;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border: none;
    padding: 0px;
}

QComboBox::down-arrow {
    right: 3.3;
    image: url("resources/icons/ui/combo_down_arrow_icon.svg");
    width: 16px;
    height: 16px;
    margin: 6px;
}

QComboBox QAbstractItemView {
    background-color: #505050;
    border-radius: 5px;
    selection-background-color: #505050;
    selection-color: #505050;
    outline: 0;
}

QComboBox QAbstractItemView::item {
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    color: #ffffff;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #707070;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #4772b3;
}

QComboBox QAbstractItemView::item:selected:hover {
    background: #628bca;
}

QCheckBox {
    spacing: 5px;
    background-color: transparent;
    color: #c2c2c2;
}

QCheckBox::indicator {
    border-radius: 3px;
    border: 1px solid #505050;
    background: #505050;
    width: 15px;
    height: 15px;
}

QCheckBox::indicator:hover {
    width: 15px;
    height: 15px;
    border: 1px solid #656565;
    background: #656565;
}

QCheckBox::indicator:checked {
    image: url("mp_software_stylesheets/assets/check.svg");
    background: #4772b3;
    border-color: #4772b3;
}

QCheckBox::indicator:checked:hover {
    image: url("mp_software_stylesheets/assets/check.svg");
    background: #4772b3;
}

QCheckBox::indicator:indeterminate {
    image: url("mp_software_stylesheets/assets/check.svg");
    background: #c2c2c2;
}

QCheckBox::indicator:indeterminate:hover {
    image: url("mp_software_stylesheets/assets/check.svg");
    background: white;
}

QPushButton {
    border: none;
    border-radius: 4px;
    background-color: #656565;
    font-size: 15px;
    color: #d2d2d2;
    min-height: 25px;
}

QPushButton:hover {
    background-color: #707070;
    color: white;
}

QPushButton:checked {
    color: white;
    background-color: #4772b3;
}

QPushButton:checked:hover {
    background-color: #628bca;
}

/* This style is for the QSplitter widget */
QFrame::handle {
    background-color: #383838;
    border: none;
}

QScrollBar {
    background-color: #2a2a2a;
    border: none;
}

QScrollBar:horizontal {
    height: 12px;
    margin-top: 2px;
}

QScrollBar:vertical {
    width: 12px;
    margin-left: 2px;
}

QScrollBar::add-page,
QScrollBar::sub-page {
    background: none;
}

QScrollBar::add-line,
QScrollBar::sub-line {
    background-color: none;
    border: none;
}

QScrollBar::handle {
    background-color: #656565;
    border-radius: 5px;
}

QScrollBar::handle:vertical {
    min-height: 50px;
}

QScrollBar::handle:horizontal {
    min-width: 50px;
}

QScrollBar::handle:hover {
    background-color: #707070;
}

QTabWidget {
    border: none;
}

QTabWidget::pane {
    border: none;
    background-color: transparent;
}

QTabBar {
    background-color: transparent;
    border-bottom: 2px solid #2a2a2a;
    outline: 0;
}

QTabBar::tab {
    background-color: transparent;
    padding: 10px;
    color: #c2c2c2;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

QTabBar::tab:selected {
    background-color: #2a2a2a;
    color: white;
}

QTabBar::tab:!selected:hover {
    color: white;
}

QTabBar::close-button {
    image: url("resources/icons/ui/close_icon.svg");
    subcontrol-origin: padding;
    subcontrol-position: right;
    border-radius: 2px;
    padding: 1px;
    width: 10px;
    height: 10px;
}

QTabBar::close-button:hover {
    background-color: #505050;
}

QTabBar::scroller {
    width: 0px;
}

QTableWidget {
    background-color: #ffffff;
    color: #000000;
}

QListWidget {
    background-color: #121212;
    border: none;
    border-radius: 5px;
    font-family: "JetBrains Mono";
    outline: 0;
}

QListWidget::item {
    color: white;
    background-color: transparent;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

QListWidget::item:hover {
    background: #3f3f3f;
}

QListWidget::item:selected {
    background: #4772b3;
}

QListWidget::item:selected:hover {
    background: #628bca;
}

QToolTip {
    background-color: #303030;
    color: white;
    border: 1px solid #606060;
    font-family: "Segoe UI";
    padding: 1px;
}

/* Custom widgets */
#listWidget {
    background-color: transparent;
    border: none;
}

#listWidget QWidget {
    background-color: transparent;
    border: none;
}

#listWidget::item {
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    background-color: #3f3f3f;
    color: white;
}

#listWidget::item:hover {
    background-color: #3f3f3f;
}

#listWidget::item:selected {
    background-color: #3f3f3f;
}

#listWidget::item:selected:hover {
    background-color: #3f3f3f;
}

#fileBrowser {
    background-color: #525252;
    border: 2px solid #303030;
}

#fileBrowser QTreeView {
    background-color: #525252;
    border: none;
    border-radius: 15px;
    padding: 5px;
    font-family: "JetBrains Mono";
    font-size: 15px;
    color: #c2c2c2;
}

#fileBrowser QTreeView::item:hover,
QTreeView::item:selected {
    color: #ffffff;
}

#fileBrowser QLabel {
    font-family: "JetBrains Mono";
    font-size: 14px;
}

#popup {
    background-color: #525252;
    border: 2px solid #303030;
}

#popup QLabel {
    font-family: "JetBrains Mono";
    font-size: 14px;
    color: #ffffff;
}

#popup QPushButton {
    font-family: "JetBrains Mono";
    font-size: 16px;
    border-radius: 5px;
    color: #ffffff;
}

#popup QPushButton:default {
    text-decoration: underline;
}

#popup QLineEdit {
    background-color: #707070;
    font-family: "JetBrains Mono";
    font-size: 14px;
    border-radius: 5px;
    padding: 2px;
    color: #ffffff;
}

#popup QLineEdit:hover {
    background-color: #797979;
}

#popup QLineEdit:focus {
    background-color: #303030;
}

#configureBar {
    background-color: transparent;
}

#configureBar QComboBox {
    font-size: 12px;
    font-family: "JetBrains Mono";
}

#terminal {
    background-color: #262525;
}

#terminal QWidget {
    background-color: #2a2a2a;
    border: none;
}

#terminal QLabel {
    font-family: "JetBrains Mono";
    font-size: 16px;
    color: #ffffff;
}

#terminal QLineEdit {
    font-family: "JetBrains Mono";
    font-size: 16px;
    border: none;
    color: #ffffff;
}

#terminal QPlainTextEdit {
    background-color: #383838;
    font-family: "JetBrains Mono";
    font-size: 16px;
    border: 2px solid #707070;
    color: #ffffff;
}

#actionButton {
    background-color: transparent;
    font-family: "Segoe UI";
    font-size: 18px;
    width: 20px;
    height: 20px;
}

#actionButton:hover {
    background-color: #707070;
}
